#nprogress .bar {
    background: #0070f3;
    height: 3px;
    z-index: 9999;
}

#nprogress .peg {
    box-shadow:
        0 0 10px #0070f3,
        0 0 5px #0070f3;
}

#nprogress .spinner {
    display: block;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
}

#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: solid 2px transparent;
    border-top-color: #0070f3;
    border-left-color: #0070f3;
    border-radius: 50%;
    animation: nprogress-spinner 400ms linear infinite;
}

@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
